<link rel="stylesheet" href="./css/index.css"></link>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">色の選択</h4>
      </div>
      <div class="modal-body">
	<div style="margin-bottom:{{colors.length*60}}px;">
	  <div class="row" ng-repeat="colorl in colors" style="margin-top:{{$index*80}}px;">
	    <a href  ng-repeat="color in colorl" ng-click="choiceColor(color)"  data-dismiss="modal">
	      <span style="width:70px;height:70px;margin-left:{{10+$index*100}}px;position:absolute;background-color:{{color}};border: solid 5px #000;"></span>
	    </a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-2">
	    <div style="padding-bottom:60px;">
	      <a href ng-click="choiceColor(makecolor)"  data-dismiss="modal">
		<span style="width:70px;height:70px;margin-left:-5px;position:absolute;background-color:{{makecolor}};border: solid 5px #000;"></span>
	      </a>
	    </div>
	  </div>
	  <div class="col-md-10">
	    <input type="range" max="255" min="0" ng-model="colorR" value="100"/><br />
	    <input type="range" max="255" min="0" ng-model="colorG" value="100"/><br />
	    <input type="range" max="255" min="0" ng-model="colorB" value="100"/>
	  </div>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="top">
  <div class="container">
    <h1 class="main"><img src="./img/main.png" alt="ブレストツクールXP" /></h1>
    <form ng-submit="submit()">
      <img class="form_ttl" src="./img/ttl_name.png">
      <input type="text" name="content" ng-model="content" id="content" value="" class="form_input username">
      <input type="hidden" ng-model="ccolor" />
      

      <span style="width:50px;height:50px;position:absolute;background-color:{{ccolor}};border: solid 5px #000;" data-toggle="modal" data-target="#myModal"></span>
      <br />
      <input type="submit" class="button" id="create_button" value=""/>
    </form>
  </div>
</div>
