<link rel="stylesheet" href="./css/index.css"></link>
<ng-include src="'view/colorModal.html'"></ng-include>

<div class="top">
  <div class="container">
    <h1 class="main"><img src="./img/main.png" alt="ブレストツクールXP" /></h1>
    <form ng-submit="submit()">
      <img class="form_ttl" src="./img/ttl_name.png">
      <input type="text" name="content" ng-model="content" id="content" value="" class="form_input username">
      <input type="hidden" ng-model="ccolor" />
      

      <span style="width:50px;height:50px;position:absolute;background-color:{{ccolor}};border: solid 5px #000;" data-toggle="modal" data-target="#myModal"></span>
      <br />
      <input type="submit" class="button" id="create_button" value=""/>
    </form>
  </div>
</div>
