<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=1434773840100085";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<link rel="stylesheet" href="./css/index.css"></link>
<link rel="stylesheet" href="./css/screen.css"></link>
<ng-include src="'view/colorModal.html'"></ng-include>
<div class="top">
  <div class="container">
    <h1 class="main"><img src="./img/main.png" alt="ブレストツクールXP" /></h1>
    <form name="form" ng-submit="submit()">
      <img class="form_ttl" src="./img/ttl_theme.png">
      <input type="text" name="theme" class="theme form_input" id="theme" ng-model="theme" placeholder="ブレストのお題を入れてね♩" value="DefaultTheme" /><br>
      <img class="form_ttl" src="./img/ttl_name.png">
      <input type="text" name="username" class="username form_input" id="owner_name" ng-model="name" placeholder="名前を入力！" value="DefaultName"  />

      <input type="hidden" ng-model="ccolor" />
      <span style="width:50px;height:50px;position:absolute;background-color:{{ccolor}};border: solid 5px #000;" data-toggle="modal" data-target="#myModal"></span>
      <br />

      <input type="submit" class="button" id="create_button" value=""/>
      <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>

    </form>

</div>
