<div class="modal fade" id="UserList">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">User List</h4>
      </div>
      <div class="modal-body">
	<div ng-repeat="user in users">
	  <div style="float:left;width:auto;padding-right:50px;">{{user.name}}</div>
	  <div style="width:70px;height:70px;background-color:{{user.color}};border: solid 5px #000;"></div>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="header">
  <div class="row navbar-collapse">
    <div class="col-md-4">
    </div>
    <div class="col-md-5">
      <h2><a data-toggle="modal" data-target="#UserList">お題</a>&nbsp;&nbsp;:&nbsp;&nbsp;<a  href="#">{{theme.$value}}</a></h2>
    </div>
    <div class="col-md-1 UI">
      <a href ng-click="addPostIt()"><span class="glyphicon glyphicon-plus"></span></a>
      <a href ng-click="addGroup()"><span class="glyphicon glyphicon-file"></span></a>
    </div>
    <div class="col-md-2 UI">
      <div ng-if="owner">
	  <a href ng-click="timerDecrease()"><span class="glyphicon glyphicon-chevron-left"></span></a>
	  <a href ng-click="timerStart()"><span class="glyphicon glyphicon-play"></span></a>
	  <a href ng-click="timerStop()"><span class="glyphicon glyphicon-pause"></span></a>
	  <a href ng-click="timerIncrease()"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      <div class="">
	<!--<span style="padding-left:12px">{{round((UnixEndTime.$value-UnixTime())/60)}}:{{(UnixEndTime.$value-UnixTime())%60}}</span>-->
	<span style="padding-left:12px">{{round(time/60)}}:{{(time)%60}}</span>
      </div>

    </div>    
  </div>
</div>
<!--
<div id="UserList" style="display:none;">
  <div ng-repeat="user in users">
    <div style="float:left;width:auto;padding-right:50px;">{{user.name}}</div>
    <div style="width:70px;height:70px;background-color:{{user.color}};border: solid 5px #000;"></div>
  </div>
</div>
-->
<div id="brestField">
  <div ng-repeat="postit in postits | orderByPriority|checkBelong:postit" id="{{postit.$id}}" class="draggablePostIt" style="position:absolute;left:{{postit.pos_x}}px;top:{{postit.pos_y}}px;background-color:{{postit.color}};" aria-disable="true">
    <div class="content" contenteditable="true" ng-model="postit.text">{{postit.text}}</div>
  </div>
  
  <div class="group droppableGroup draggableGroup" ng-repeat="group in groups | orderByPriority" id="{{group.$id}}" style="position:absolute;left:{{group.pos_x}}px;top:{{group.pos_y}}px;">
    <div class="content footer" contenteditable="true">
      <h3>{{group.text}}</h3>
    </div>
    
    <!-- Postit Contents -->

    <div ng-repeat="postit in postits | orderByPriority|check:group.$id" id="{{postit.$id}}" class="draggablePostIt" style="position:relative;background-color:{{postit.color}};" aria-disable="true">
      <div class="content" contenteditable="true" ng-model="postit.text">{{postit.text}}</div>
    </div>

    
  </div>

  <div id="TrashBox" class="trash" style="position:fixed;bottom:0%;left:1%;width:150px;height:100px;">
    <span class="trashIcon glyphicon glyphicon-trash" style="width:100px;font-size:5em;"></span>
  </div>
  
</div>
