<link rel="stylesheet" href="./css/index.css"></link>

<div class="waiting">
  <div id="header">
    <div class="row navbar-collapse">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
	<h2>待ち合い室:{{title.$value}}</h2>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <div id="member">
    <div class="container">
      <div class="row">
	<div ng-repeat="user in users" style="background-color:{{user.color}};" class="col-md-6 user">
	  <img src="img/picture.jpg" style="float:left;padding-right:30px;">
	  <span>
	    <p>{{user.name}}</p>
	  </span>
	</div>
      </div>
      <div ng-if="owner!='true'">
	<h3>部屋を作った人が初めるまで待ってください。</h3>
      </div>
      <div ng-if="owner == 'true'">
	<form>
	  <input type="text" name="time" value="1" ng-model="time" ng-init="time=1" class="form_input" />分間で、<br />
	  <input type="text" name="ideacount" value="5" ng-model="ideacount" ng-init="ideacount=5" class="form_input" />個アイディアをだして！！<br />
	  <input type="button" ng-click="stormBegin();" class="button" />
	</form>
      </div>
    </div>
  </div>
